{
  "openapi": "3.0.0",
  "info": {
    "title": "Booking API",
    "version": "1.0",
    "contact": {
      "email": "bobby@bbysoft.com",
      "name": "Tavali Attila"
    },
    "description": "Booking manager API"
  },
  "servers": [
    {
      "url": "https://www.utazzitthon.hu/api",
      "description": "real"
    },
    {
      "url": "https://deploy.utazzitthon.hu/api",
      "description": "sandbox"
    }
  ],
  "paths": {
    "/booking/availbility": {
      "post": {
        "summary": "Check Availbility",
        "operationId": "post-booking-availbility",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "available | notavailable"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                },
                "examples": {
                  "example - available": {
                    "value": {
                      "message": "available",
                      "result": {
                        "price": 330
                      }
                    }
                  },
                  "example - notavailable": {
                    "value": {
                      "message": "notavailable",
                      "result": {}
                    }
                  }
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": {
                      "message": [
                        "The hotel i d must be at least 1.",
                        "The rate must be at least 1."
                      ],
                      "result": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": {
                      "message": [
                        "Unauthenticated."
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hotelID": {
                    "type": "integer"
                  },
                  "rate": {
                    "type": "integer"
                  },
                  "curr": {
                    "type": "string",
                    "description": "HUF | EUR | CZK (default: HUF)"
                  },
                  "start": {
                    "type": "string",
                    "description": "yyyy-mm-dd"
                  },
                  "end": {
                    "type": "string",
                    "description": "yyyy-mm-dd"
                  },
                  "nights": {
                    "type": "integer"
                  },
                  "rooms": {
                    "type": "array",
                    "description": "",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "adultCount": {
                          "type": "integer"
                        },
                        "childCount": {
                          "type": "integer"
                        },
                        "children_age": {
                          "type": "string",
                          "description": "\"4,7\" ( comma-separated )"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "hotelID",
                  "rate",
                  "start",
                  "end",
                  "nights",
                  "rooms"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "hotelID": 2696,
                    "rate": 46009,
                    "curr": "HUF",
                    "start": "2020-06-06",
                    "end": "2020-06-08",
                    "nights": 2,
                    "rooms": [
                      {
                        "id": 6104,
                        "adultCount": 2,
                        "childCount": 0,
                        "children_age": ""
                      },
                      {
                        "id": 6104,
                        "adultCount": 2,
                        "childCount": 1,
                        "children_age": "7"
                      }
                    ]
                  }
                }
              }
            }
          },
          "description": ""
        },
        "description": ""
      },
      "parameters": []
    },
    "/booking/create": {
      "parameters": [],
      "post": {
        "summary": "Booking create",
        "operationId": "post-booking-create",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "required": [
                        "booking_code"
                      ],
                      "properties": {
                        "booking_code": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "required": [
                    "message",
                    "result"
                  ]
                },
                "examples": {
                  "example-success": {
                    "value": {
                      "message": "success",
                      "result": {
                        "booking_code": 42354
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hotelID": {
                    "type": "integer"
                  },
                  "rate": {
                    "type": "integer"
                  },
                  "curr": {
                    "type": "string"
                  },
                  "start": {
                    "type": "string"
                  },
                  "end": {
                    "type": "string"
                  },
                  "nights": {
                    "type": "integer"
                  },
                  "price": {
                    "type": "integer"
                  },
                  "payprice": {
                    "type": "integer"
                  },
                  "contact": {
                    "type": "object",
                    "required": [
                      "first_name",
                      "last_name",
                      "email",
                      "phone"
                    ],
                    "properties": {
                      "first_name": {
                        "type": "string"
                      },
                      "last_name": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "phone": {
                        "type": "string"
                      }
                    }
                  },
                  "rooms": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "adultCount": {
                          "type": "integer"
                        },
                        "childCount": {
                          "type": "integer"
                        },
                        "children_age": {
                          "type": "string"
                        },
                        "price": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "id",
                        "adultCount",
                        "childCount",
                        "children_age",
                        "price"
                      ]
                    }
                  },
                  "comment": {
                    "type": "string"
                  }
                },
                "required": [
                  "hotelID",
                  "rate",
                  "start",
                  "end",
                  "nights",
                  "price",
                  "payprice",
                  "contact",
                  "rooms"
                ]
              },
              "examples": {
                "example": {
                  "value": {
                    "hotelID": 2696,
                    "rate": 46009,
                    "curr": "HUF",
                    "start": "2020-06-06",
                    "end": "2020-06-08",
                    "nights": 2,
                    "price": 330,
                    "payprice": 330,
                    "contact": {
                      "first_name": "James",
                      "last_name": "Bond",
                      "title": "Dr.",
                      "email": "007@007.com",
                      "phone": "+36301234567"
                    },
                    "rooms": [
                      {
                        "id": 6104,
                        "adultCount": 2,
                        "childCount": 0,
                        "children_age": "",
                        "price": 165
                      },
                      {
                        "id": 6104,
                        "adultCount": 2,
                        "childCount": 0,
                        "children_age": "",
                        "price": 165
                      }
                    ],
                    "comment": ""
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "API Key": {
        "name": "api_token",
        "type": "apiKey",
        "in": "query",
        "description": ""
      }
    }
  },
  "security": [
    {
      "API Key": []
    }
  ]
}